@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#map {
    height: 400px; 
    width: 100%; 
    height: 100%;
  }

 
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0E1F25;
    font-family: "Roboto", sans-serif;
}

nav {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: auto;
    display: flex;
    padding: 5% 5%;
    z-index: 1000;
}

.logo img{
    width: 109px;
}

header{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    text-align: center;
}

header a{
    text-decoration: none;
}

.diary h1{
    color: #00C595;
    font-size: 20px;
    text-decoration: none;
}

.diaryt h1{
    color: #225C5C;
    font-size: 20px;
    text-decoration: none;
}

.training h1{
    color: #00C595;
    font-size: 20px;
    text-decoration: none;
}

.trainingd h1{
    color: #225C5C;
    font-size: 20px;
    text-decoration: none;
}

header .slider-scrollbar{
    height: 1px;
    width: 200%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-tracks{
    height: 1px;
    width: 100%;
    background: #2B7A7A;
    position: relative;
    border-radius: 40px;
}

.slider-scrollbar .scrollbar-diary{
    position: absolute;
    height: 3px;
    width: 40%;
    background: #0075FF;
    border-radius: inherit;
    top: -3px;
    left: 5%;
}

.slider-scrollbar .scrollbar-training{
    position: absolute;
    height: 3px;
    width: 40%;
    background: #0075FF;
    border-radius: inherit;
    top: -3px;
    right: 5%;
}

.section-pesquisar{
    background-color: #000000;
    width: 90%;
    padding: 0% 2%;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

.lupa img {
    width: 30px;
    display: block;  
    margin-right: 20px;
}

.buscar h2{
    color: #00C595;
    font-size: 15px;
    text-align: left;
}

.filtro{
    display: flex;
    justify-content: flex;
    align-items: center;
    margin-left: auto;
    padding: 0% 2%;
}

.filtro::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: #0075FF;
    margin-right: 10px; 
}

.filtro h2{
    color: #0075FF;
    font-size: 15px;
}

.filtro img{
    width: auto;
    height: auto;
    margin-left: 8px;
}

add{
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 1000;
}

add button{
    background: none;
    border: none;
    cursor: pointer;
}

tab{
    background-color: #000000;
    border-top: 0.5px solid #0E3C73;
    display: block;
    width: 100%;
    padding: 4% 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 2000;
}

.icons {
    grid-template-columns: 1fr 1fr 1fr;
}

.icons img{
    margin-right: 8%;
    margin-left: 8%;
}